name: CI/CD Pipeline

on:
  push:
    branches:
      - main

jobs:
  semgrep:
    runs-on: self-hosted
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      - name: Run Semgrep analysis
        run: semgrep --config security_rules.yml --error
  deploy:
    runs-on: self-hosted
    needs: semgrep
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      
      - name: deploy
        run: docker compose up -d --build --force-recreate  
